<!DOCTYPE html>
<html>

<head>
    <title>GraphGuard Analysis</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.28.1/cytoscape.min.js"></script>
</head>

<body>

    <h1>GraphGuard Analysis</h1>

    <h2>{{ result }}</h2>

    <h2>Risk Score: {{ score }}/100</h2>

    <h2>Risk Level: {{ level }}</h2>

    <h3>Connected Components: {{ components }}</h3>

    <hr>

    <h2>Network Visualization</h2>

    <div
        id="cy"
        style="
            width:100%;
            height:600px;
            border:2px solid black;
        ">
    </div>

    <hr>

    <h3>Debug Data</h3>

    <pre>{{ cytoscape_data }}</pre>

    <br>

    <a href="/">Back to Dashboard</a>

    <script>

        console.log("Cytoscape Type:", typeof cytoscape);

        var elements = {{ cytoscape_data | safe }};

        console.log("Elements:", elements);

        var cy = cytoscape({

            container: document.getElementById('cy'),

            elements: elements,

            style: [

                {
                    selector: 'node',
                    style: {
                        'background-color': '#4287f5',
                        'label': 'data(id)',
                        'color': 'black',
                        'text-valign': 'center',
                        'text-halign': 'center'
                    }
                },

                {
                    selector: 'edge',
                    style: {
                        'width': 3,
                        'curve-style': 'bezier',
                        'line-color': '#999',
                        'target-arrow-color': '#999',
                        'target-arrow-shape': 'triangle'
                    }
                }

            ],

            layout: {
                name: 'circle'
            }

        });

    </script>

</body>

</html>